//Estilizando o banner principal

#maincontent.page-main {
    padding-right: 0;
    padding-left: 0;
    max-width: 1420px;
}

p {
    margin-top: -3rem;
}


.container{
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 20vh;
    grid-template-areas: "img1 img2"
                         "img1 img3"
                         "img4 img4";
    grid-column-gap: 3rem;
    grid-row-gap: 22px;
}
.img1{
   grid-area: img1;
   align-self: end;
   justify-self: flex-end;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
   grid-area: img4;
   justify-self: center;
   margin-top: 10px;
}

@media (max-width:768px){
    .container{
        grid-gap: 10px;
        padding: 0 10px;
    }
}
