//Estilizando o banner principal 

#maincontent.page-main {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width:768px){

    img {
    background: url('@{baseDir}pub/media/wysiwyg') no-repeat 50% 50%;
    }
}