.page-footer{
    background-color:#9a1e51;
    .footer.content{
        .block.newsletter{
            margin-top: 0;
            .content{
                .control{
                    width: 100%;
                }
                .form.subscribe{
                    .field.newsletter{
                        .control{
                            &:before{
                                content: "";
                            }
                            input{
                                height: 35px;
                                border: 1px solid #f6f4f4;
                                background: #9a1e51;
                                font-family: 'Urbanist';
                                font-size: 14px;
                                text-align: left;
                                color: #ffff;
                                margin-top: 25px;
                                &::placeholder {
                                    color: #ffffff;
                                    font-family: "Urbane";
                                }
                            }
                        }
                    }
                    .actions{
                        float: none;
                        width: 150px;
                        margin-left: 10px;
                        .action.subscribe.primary{
                            white-space: normal;
                            background-color: #ffffff; 
                            color: #9a1e51;
                            border: none;
                            height: 35px;
                            font-family: 'Urbane';
                            font-size: 15px;
                            font-weight: 700;
                            font-style: normal;
                            letter-spacing: normal;
                            margin-top: 25px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    .footer-links_container{
        display: flex;
        flex-wrap: wrap;

        .footer-links{
            width: 25%;
            color: #fff;
            ul{
                list-style: none;
                h3{
                    width: 170px;
                    height: 30px;
                    font-family: 'Urbane';
                    font-size: 19px;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                }
                li{
                    font-family: 'Urbane-thin';
                    font-size: 16px;
                    font-weight: 400;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 775px){
    .page-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer.content{
            .block.newsletter{
                margin-top: 0;
                .content{
                    .control{
                        width: 100%;
                    }
                    .form.subscribe{
                        .field.newsletter{
                            float: none;
                            width: 250px;
                            margin-left: 10px;
                        }
                        .actions{
                        }
                    }
                }
            }
        }
        .footer-links_container{
            display: flex;
            flex-direction: column;
            .footer-links{
                ul{
                    h3{
                        width: 100px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 963px){
    .page-footer{
        .footer-links_container{
            .footer-links{
                ul{
                    h3{
                        width: 100px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}