//Alterando cor e fonte do footer
.page-footer {
    background-color: #9a1e51;
}

.footer.content .links a {
    color: #ffffff;
    font-family: 'Urbanist';
    font-size: 16px;
    line-height: 27.32px;
    &:hover {
        color: #f6f4f4;  
    } 
}

//Alterando campo de newsletter
.block.newsletter{
    margin-right: 60px;
}

.block.newsletter input { 
    height: 35px;
    border: 1px solid #f6f4f4;
    background: none;
    font-family: 'Urbanist';
    font-size: 14px;
    text-align: left;
    color: #ffff;
    margin-top: 25px;
}

.block.newsletter input::placeholder {
    color: #ffffff;
    font-family: 'Urbane';
}

.block.newsletter .field .control:before {
    content: none;
}

.action.primary {
    background-color: #ffffff; 
    color: #9a1e51;
    border: none;
    height: 35px;
    transition: 0.2s;
    font-family: 'Urbane';
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    margin-top: 25px;
}

.footer-links {
    color: #ffffff;
    display: flex;
    gap: 0px;
    padding: 0 8px;

    .block2 {
        display: inline-block;
    }
    
    ul {
        list-style: none;

        h3 {
            width: 170px;
            height: 30px;
            font-family: 'Urbane';
            font-size: 19px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
        }

        li {
            font-family: 'Urbane-thin';
            font-size: 16px;
            font-weight: 400;
            
        }

        a {
            color: #ffffff;
        }
    }

}

.copyright {
    background: #9a1e51;
}