//Container que engloba o carousel

.um-prodslider.block.slider-type-featured.um-prodslider-t-slick {
    height: 464px;
    width: 1194px;
}


// Image do produto no carousel 

.slick-slide img {
    width: 231px;
    height: 288px;
    border-radius: 0 10px;
    border: 1px solid #8d8b8b;
    background-color: #ffffff;
}

.slider-desc{
    padding-left: 53px;
    text-align: left;
    color: #6e685c;
    font-family: Urbane;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18.23px;

}

.price-box.price-final_price{
    padding-left: 53px;
    text-align: left;


    // width: 99px;
    // height: 22px;
    // color: #8b6722;
    // font-family: Urbane;
    // font-size: 20px;
    // font-weight: 700;
    // font-style: normal;
    // letter-spacing: normal;
    // line-height: 24.97px;
    // text-transform: uppercase;
    
}