//Desktop
@panel-background:#eaeaea;
@panel-font:#666666;
@color-nav:#40015f;
@nav-span: #F3F3F3;
@li-desktop: #FEE95F;
@li-color: #ffffff;
@dropdown-hover: #4B0082;
@border-color: #A6A6A6;
@black: #000000;
@button: #40015f;
@button-hover: #54087a;
@border-input: #A6A6A6;
@hr-color: #c0bebe;




