// Footer
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 300px;
    

}
.main-footer
{
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0 40px;
    
    
    
    
}
.footer-links1{
    flex-grow:  0;
    flex-basis: 200px;
}
.footer-links2{
    flex-grow: 0;
    flex-basis: 200px;
}
.footer-links3{
    flex-grow: 0;
    flex-basis: 200px;
}

h3 {
    font-family: 'Raleway';
    font-size: 20px;
}

ul, a {
    list-style: none;
    font-family: Raleway;
    font-size: 18px;
    color: #000000;
  
}

.content {
    margin-top: 200px;
    margin-right: 150px;
    
}

.minicart-wrapper:before{
    content: '';
    background-image:url("image/bag.png");
}