@panel-background:#eaeaea;
@panel-font:#666666;
@color-nav:#40015f;


//Home
body {
    overflow-x: hidden; 
    max-width: 100vw;
    max-height: 100vh;
    margin-top: 0px;
    padding: 0;
}

.page-main{
    padding: 0;
}

.content{
    margin-top: 0px;
}

//logo magnolia
.logo {
    left: 100px;
}

// welcome padrão
.not-logged-in{
    display: none;
}
.panel, .wrapper{
        .switcher-options {
            color: @panel-font;
        }
    
    background-color: @panel-background;
};


// links do header
.header.panel {
    .header.links {
        .authorization-link:after{
            color: @panel-font;
            font-size: 14spx;
            font-family: 'Raleway-Regular';
        }
    }
}

// input do header
.block-search input{
    width: 261px;
    height: 32px;
    border: 1px solid #a6a6a6;

    &::placeholder{
        color: @panel-font;
        font-size: 15px;
        font-family: 'Raleway-Regular';
        font-weight: 300;
                
    }
}

.header.panel > .header.links > li > a{
    color: @panel-font;
    font-family: 'Raleway-Regular';
    font-size: 14px;
    transition: 0.2s;

    &:hover{
        color:#000000;
    }
}

// Alteração da lupa do input
.block-search{
    margin-right: 30px;
    bottom: 0px;
    .block-content{
        .action.search{
            right: -15px;
            top: 9px;

            &::before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background-color: @panel-font;
                background: url('@{baseDir}images/search.png');
            }

        }
    }
}
// Alteração do Carrinho de compras
.minicart-wrapper{
    .action.showcart{
        display: inline-block;
        position: relative;
        top: 3px;   

            &::before {
                content: '';
                display: block;
                width: 19px;
                height: 25px;
                background-color: #000000;
                background: url('@{baseDir}images/bag.png');

        }
    }
}

//nav 
.navigation{
    background-color: @color-nav;
    
         ul{
            height: 50px;
            margin-left: 100px
            
        }

        span{
            height: 190px;
            color: #f3f3f3;
            font-family: 'Raleway-SemiBold';
            font-size: 20px;
            font-style: normal;
            letter-spacing: 0.8px;
            line-height: normal;
            text-align: center; 

            
        }  

}

 // Botão de Promoção
.nav-5 a span{
    font-family: 'Raleway-Regular';
    color: #fee95f;
    font-weight: 700;


}


.navigation .level0.parent > .level-top > .ui-menu-icon:after {
    content: '';
}

.ui-menu, .ui-widget, .ui-widget-content, .ui-corner-all{
    background-color: #40015f;

}
    
.navigation .level0 .submenu a:hover{
    background-color: #4B0082   ;
}
    


.banner {
    position: relative;
    min-width: 100vw;
    margin-top: -25px;
    height: 561px;

}

.img-banner{
    width: 100%;  
    

}

.titulo-banner{
    position: absolute;
    margin: 100px 543px 219px 600px;
    color: #6e01a5;
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    font-family: "Raleway-ExtraBold";

}

.subtitulo{
        position: absolute;
        display:block;
        color: #ffffff;
        font-family: 'Raleway-Regular';
        font-size: 50px;
        font-weight: 700;
        font-style: normal;
        min-width: 600px;
    }


.button-banner{
    all:unset;
    box-sizing: border-box;
    position: absolute;
    width: 225px;
    height: 55px;
    background-color: #6e01a5;
    margin: 320px 678px 128px 600px;
    color: #ffffff;
    font-family: 'Raleway-Bold';
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "COMPRAR AG" */
    font-style: normal;
    letter-spacing: 0.24px;
    line-height: normal;
    padding-left: 25px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0) !important;
    border:none!important;

    &:hover{
        background-color: #4B0082;
        color: #ffffff;
    }
    
}

// propriedade agrupada deixar as demais divs flex 
.divflex {
    display: flex;
}

// div pai 
.main_banner{
    flex-direction: column;
}

//div first child
.sub_banner_top{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0px 20px;
}
.sub_banner_bottom{
    padding: 0px 23px;
}

//div filha de banner_bottom
.banner-footer3{
    flex-basis: 629px;
    justify-content: flex-start;
}
