//Home
body {
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100vh;
    margin-top: 0px;
}
.content{
    margin-top: 0px;
}
// welcome padrão
.not-logged-in{
    display: none;
}

.page-header .panel.wrapper {
    background-color: @panel-background;
}

.panel, .wrapper{
        .switcher-options {
            color: @panel-font;
        }
    background-color: @panel-background;
}

// links do header
.header.panel {
    .header.links {
        .authorization-link:after{
            color: @panel-font;
            font-size: 14spx;
            font-family: 'Raleway-Regular';
        }
    }
}
// input do header
.block-search input{
    height: 32px;
    width: 261px;
    border: 1px solid #A6A6A6;

    &::placeholder{
        color: @panel-font;
    }
}

.block-search .label.active + .control input {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.header.panel > .header.links > li > a {
    color: @panel-font;
    font-family: 'Raleway-Regular';
    font-size: 14px;
    transition: 0.2s;
    &:hover{
        color: @black;
    }
}
// Alteração da lupa do input
.block-search{
    margin-right: 30px;
    bottom: 0px;
    .block-content{
        .action.search{
            right: -15px;
            top: 9px;
            &::before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background-color: @panel-font;
                background: url('@{baseDir}images/search.png');
            }
        }
    }
}

// Alteração do Carrinho de compras
.minicart-wrapper {
    .action.showcart {
        display: inline-block;
        position: relative;
        top: 3px;
            &::before {
                content: '';
                display: block;
                width: 19px;
                height: 25px;
                background-color: @black;
                background: url('@{baseDir}images/bag.png');
        }
    }
}

.minicart-wrapper .block-minicart {
    top: 70%;
    right: 45px;
}

//nav
.section-items {
    background-color: @color-nav;
}

.navigation {
    background-color: @color-nav;

    ul {
        height: 50px;
    }

    span {
        color: @li-color;
        font-family: 'Raleway-Regular';
        font-size: 20px;
        font-style: normal;
        letter-spacing: 0.8px;
        line-height: normal;
        text-align: center;
        font-weight: 400;
    }

    .level0.active { 
        .level-top {
            .navigation {
                .level0.has-active {
                    .level-top {
                        border-color: #FEE95F;
                    }
                }
            }
        }
    }  
}

// Botão de Promoção
.nav-5 a span {
    font-family: 'Raleway-SemiBold';
    color: #FEE95F;
    font-weight: 700;
}
.navigation .level0.parent > .level-top > .ui-menu-icon:after {
    content: '';
}

.ui-menu, .ui-widget, .ui-widget-content, .ui-corner-all{
    background-color: #40015F;
}
.navigation .level0 .submenu a:hover{
    background-color: #4B0082;
}

.page-products .products-grid .product-items {
    background-color: #ffffff;
}


