.minicart-items .product-item-name a {
        color: #40015F;
}

.action-auth-toggle span{
    color: #40015F;

}

.action.viewcart span {
    color: #40015F;
}
.item.home a, .item.category a, .item.product strong {
    color: #40015F;
}

//seja o primeiro a avaliar
.action.add {
    color: #000000;
}

.action.towishlist span:hover, .action.tocompare span:hover {
    color: #40015F;
}

//Preço do produto "De: Por:"
.product-item .price-box{
    color:#40015F;
}

.message.success a {
    color: #40015F;

    &:hover {
        color: #40015F;
    }
}

#product-price-3 :first-child{
    color:#40015F;
}

//Estilização do cart "preço, desc"
// .block-minicart .amount .price-wrapper:first-child .price {
//     color: #8b6722;
// }
// .minicart-items .product-item-details .price {
//     color: #8b6722;
// }
