@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('@{baseDir}fonts/Raleway-SemiBold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('@{baseDir}fonts/Raleway-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('@{baseDir}fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}


@font-face {
    font-family: 'OpenSans-Regular';
    src: url('@{baseDir}fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('@{baseDir}fonts/Raleway-ExtraBold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('@{baseDir}fonts/Raleway-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
